{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am passionate about creating engaging and unique content for companies. With a keen eye for detail and a knack for storytelling, I help businesses craft compelling narratives that resonate with their audience.
      </p>
      
      <p>
          Currently available for freelance work, I thrive on collaborating with clients to develop innovative ideas and content strategies. Whether it's writing for websites, blogs, or social media, my goal is to help your brand stand out and connect with your target audience.
      </p>
      
      <p>
          My experience spans over three years, during which I've honed my skills in SEO, content creation, and strategic communication. I am committed to delivering high-quality content that not only meets but exceeds expectations. If you're looking to enhance your brand's voice or generate fresh content, I'm here to bring your vision to life.
      </p>
      
      
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
